.cor {
	background-color: #39dd92;
	color: white;
	height: 400px;
	width: 100%;
}

.title_carroussel {
	margin-top: 50px;
	font-size: 36px;
}




.carousel-item {
	height: 100%;
}


.controler {
	bottom: 0px;
}







.title_noticia {
	margin-top: 60px;
}

.noticia {
	margin-top: 2.5em;
}


